.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
list-style: none;
  background-color: #000000;
}

.navbar-button {
  padding: 10px 20px;
  background-color: #8bbdf4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #0056b3;
  color: rgb(255, 255, 255);
}

/* .profile-circle {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
} */

.link-color {
  color: white;
  
}

.log-out-btn{
  padding: 5px;
  border-radius: 5px;
}
.log-out-btn:hover{
  border: 2px solid red;
}